@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");

:root {
  --main-black: #333333;
  --secondary-black: #666666;
  --light-black: #999999;
  --main-blue: cadetblue;
  --main-bg: #fffaf5;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Walter Turncoat", cursive;
  /* font-family: "Roboto", sans-serif; */
  letter-spacing: 0.07rem;
  background-color: var(--main-bg);
  color: var(--secondary-black);
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

h1 {
  color: var(--main-black);
  margin-top: 2rem;
}
