.footer {
  flex-shrink: 0;
  text-align: center;
}

.footer-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.footer-item {
  margin-right: 2rem;
  transition: all 0.2s ease-out;
}

.footer-item:hover {
  color: var(--main-blue);
  transform: scale(1.3);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

a {
  color: inherit;
}
