.post-title {
  font-weight: bold;
}

.post-info {
  padding-top: 0.5rem;
  padding-right: 1rem;
}

.post-date,
.post-title,
.post-intro {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.post-info,
.post-intro {
  font-style: italic;
  font-size: 0.8rem;
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.post-list,
.tag-list {
  list-style-type: none;
  padding: 0;
}

.post-item {
  margin-bottom: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}

.post-item:hover {
  color: var(--main-black);
}

.post-item:hover .post-title {
  text-decoration: underline;
}

.tag-item {
  margin: 0 0.5rem 0.5rem 1rem;
  background-color: cadetblue;
  border-radius: 10px;
  padding: 0.3rem;
  width: 80px;
  text-align: center;
  font-size: 0.8rem;
  color: #333;
}

.tag-item:hover {
  color: white;
  background-color: #333;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}
