.project-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-total-count,
.project-title,
.project-tag {
  text-align: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 8rem;
  height: 11rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.project-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.25);
}

.project-image {
  margin: auto;
  width: 60%;
  height: 50%;
}

.project-context {
  flex-grow: 1;
}

.project-title {
  padding: 0.5rem;
}

.project-tag {
  background-color: cadetblue;
  color: white;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
