.project-container {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.project-card {
  border: 1px solid var(--main-black);
  margin: 0.3rem;
  width: 8rem;
  height: 8rem;
  position: relative;
}

.project-image {
  width: 100%;
}

.project-context {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
